# Dependencies
node_modules
mobile/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# React build artifacts
dist
dist-ssr
*.local

# React Native build artifacts
mobile/android/app/build
mobile/android/.gradle
mobile/android/app/src/main/assets/index.android.bundle*
mobile/ios/build
mobile/.expo

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Native specific
mobile/.gradle
mobile/local.properties
mobile/.idea
mobile/.vscode
mobile/android/.idea
mobile/android/local.properties
mobile/android/app/debug
mobile/android/app/release

# Buck
mobile/buck-out/
mobile/.buckd/
mobile/android/app/libs
mobile/android/.externalNativeBuild

# React Native CLI
mobile/.react-native/

# Metro
mobile/.metro-health-check*
